html, body{
  border: 0;
  margin: 0;
  font-family: "Segoe UI";
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  color: rgba(0,0,0, 0.44);
}


li{
  list-style: none;
  display: inline-block;
  padding: 0px 14px 0px 0px;
}

li:hover{
  color: rgba(0,0,0, 0.8);
}

ul{
  padding-left: 0;
  padding-right: 0;
}

header{
  width: 60%;
  padding: 0.75% 20% 0.75% 20%;
  display: table;
  background-color: white;
}

.header_leftside{
  display: table-cell;
  width: 50%;
}
.header_rightside{
  display: table-cell;
  font-size: 14px;
  text-align: right;
  width: 50%;
}

.signin_signup{
  color: #02b875;
  font-weight: 500;
  padding: 0% 2% 0% 10%;
}


#expand{
  display: none;
  padding-left: 2%;
}

#header_topic{
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 0.5px solid rgba(0,0,0, 0.1) ;
  background-color: white;
  z-index: 2;
}

#header_jumbotron{
  margin-left: 20%;
  margin-right: 20%;
  height: 400px;
  background-color: #FAFAFA;
}

.jumbotron_text{
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
  width: 50%;
  font-weight: 700;
  line-height: 1.2;
  font-size: 32px;
}

.green_button{
  background-color: #02b875;
  color: white;
  font-size: 14px;
  padding: 0px 16px;
  border-radius: 999em;
  border: none;
  line-height: 35px;
}

/*not quite 100% of size i want ti to be.*/
#main_container{
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  display: table;
  width: 60%;
}

#feedpanel{
  display: table-cell;
  width: 75%;
}

.feed_pane{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-right: 5%;
  padding: 2% 2% 2% 2%;
  margin-bottom: 2%
}

.feed_pane_user{
  display: table;
  width: 100%;
}

.feed_user_ava{
  display: table-cell;
  width: 5%;
  background-color: rgba(0,0,0,0.1);
}

.feed_user_name{
  color: #02b875;
  font-weight: normal;
  font-size: 14px;
  position: relative;
}

.feed_user_details{
  display: table-cell;
  font-size: 12px;
  width: 95%;
  padding-left: 2%;

}

.feed_pane_content > h3{
  color: black;
  font-size: 29px;
}

.heart{
  color: #02b875;
}

.feed_pane_meta{
  position: relative;
  line-height: 2;
}

.feed_pane_meta > span{
  display: inline-block;
}

.feed_meta_likes{
}

.feed_meta_responses{
  position: absolute;
  right: 5%;
}

.feed_meta_bookmark{
  position: absolute;
  right: 0%;
  color: black;

}

#sidepanel{
  width: 25%;
  vertical-align: top;
  font-size: 14px;
  display: table-cell;

}

.side_pane_header{
  padding-bottom: 3%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.side_pane_header_subtitle{
  color: black;
}

.side_pane_header > .close_button{
  position: absolute;
  font-size: 18px;
  top: -10%;
  right: 5%;
}

.side_pane_content{
  margin-top: 8%;
  margin-bottom: 8%;
}

.side_pane_art_details{
  display: table;
  width: 100%;
  margin-bottom: 8%;
}

.side_pane_details_ava{
  display: table-cell;
  width: 20%;
}

.circle{
  border-radius: 50%;
  width: 75%;
  padding-bottom: 75%;
  background-color: rgba(0,0,0,0.1);
  position: relative;
}

.circle > p{
  position: absolute;
  bottom: -25%;
  right: 30%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}


.feed_user_name .user_text{
  visibility: hidden;
  width: 40%;
  height: 500%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  padding-bottom: 30px;
  bottom: 30px;
  border: 0.5px solid rgba(0,0,0, 0.44);

  z-index: 20;
}

.feed_user_name:hover .user_text{
  visibility: visible;
}


.side_pane_details_text{
  vertical-align: top;
  display: table-cell;
  width: 80%;
}

.side_pane_details_artname{
  font-weight: bold;
}

.side_pane_text{
  padding-bottom: 16px;
}

.footer_contents{
  font-size: 11px;
}
