html, body{
  border: 0;
  margin: 0;
  font-family: "Segoe UI";
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,.44);
}

li{
  list-style: none;
  display: inline-block;
}

ul{
  padding-left: 0;
  padding-right: 0;
}

header{
  padding: 0.75% 20% 0.75% 20%;
  display: table;
}

.header_leftside{
  display: table-cell;
  width: 75%;
}
.header_rightside{
  display: table-cell;
  width: 25%;
}


.expand{
  display: none;
}

#header_topic{
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 0.5px solid rgba(0,0,0, 0.1) ;
}

#header_jumbotron{
  margin-left: 20%;
  margin-right: 20%;
  height: 400px;
  background-color: LightSlateGrey;
}

.jumbotron_text{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  font-weight: 700;
  line-height: 1.2;
  font-size: 32px;
}

#header_jumbotron input{
  background-color: #02b875;
  color: white;
  font-size: 14px;
  padding: 1%;
  border-radius: 999em;
  border: none;
}

/*not quite 100% of size i want ti to be.*/
#main_container{
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  display: table;
}

#feedpanel{
  display: table-cell;
  width: 75%;

}

.feed_pane{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-right: 5%;
  padding: 2% 2% 2% 2%;
  margin-bottom: 2%
}

.feed_pane_user{

}

.feed_pane_content{

}

.feed_pane_meta{
  position: relative;
}

.feed_pane_meta > span{
  display: inline-block;
}

.feed_meta_likes{

}

.feed_meta_responses{
  position: absolute;
  right: 5%;
}

.feed_meta_bookmark{
  position: absolute;
  right: 0%;
}

#sidepanel{
  vertical-align: top;
  font-size: 14px;
  display: table-cell;
}

.side_pane_header{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

}
.side_pane_header_subtitle{
  color: black;
}

.side_pane_content{
  margin-top: 10%;
  margin-bottom: 10%;
}

.side_pane_art_details{
  display: table;
  width: 100%;
  margin-bottom: 8%;
}

.side_pane_details_ava{
  display: table-cell;
  width: 20%;
}

.circle{
  border-radius: 50%;
  width: 75%;
  padding-bottom: 75%;
  background-color: rgba(0,0,0,0.1);
  position: relative;
}

.circle > p{
  position: absolute;
  bottom: -25%;
  right: 30%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.side_pane_details_text{
  vertical-align: top;
  display: table-cell;
  width: 80%;
}

.side_pane_details_artname{
  font-weight: bold;
}
