html, body{
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Segoe UI";
  position: relative;
  border: 0;
  margin: 0;
  z-index: 100;
}

#login_panel{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  color: black;
}

.closebutton{
  position: absolute;
}

.login_panel_form_panel{
  height: 100%;
  display: inline-block;
  width: 33%;
  vertical-align: top;

}

.login_panel_close{
  height: 100%;
  display: inline-block;
  width: 33%;
}

.login_panel_close_section{
  height: 25%;
}

.login_panel_form_content{
  height: 50%;
  background-color: rgba(255, 255, 255, 0.972549);
  color: green;
  text-align: center;
}

.login_panel_form_content_logo{
  padding: 10% 4% 10% 4%;
  background-color: rgb(240, 240, 240);
}

.login_panel_form_content_sso_container{
  text-align: center;
}

.login_panel_form_content_sso_container > button{
  width: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.439216);;
  color: white;
  font-weight: bolder;
  text-align: left;
}

#form_twitter{background-color: rgb(85, 172, 238);}
#form_facebook{background-color: rgb(59, 89, 152);}
#form_google{background-color: tomato;}

.login_panel_form_content_disclaimer{
  padding: 4% 8% 4% 8%;
  color: rgba(0, 0, 0, 0.439216);
}



#header{
  top: 0;
  width: 80%;
  height: 10%;
  background-color: white;
  color: green;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 0.1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
}

#header_logo{
  float: left;
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  top: 40%;
  vertical-align: top;
}

#header_rightside{
  width: auto;
  float: right;
  display: inline-block;
  position: relative;
  height: 100%;
  top: 40%;
  vertical-align: top;
}



#header_rightside > #login{
  display:inline-block;
}

#header_rightside > #search{
  display:inline-block;
}

.user_details, .user_details_end{
  color: black;
  height: 10%;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  /*overflow-y: hidden;*/
}

.user_name_follow{
  color: green;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  border-radius: 10%;
  border: 2px solid green;
}

.user_avatar{
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 9%;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
}



.user_rightside{
  display:inline-block;
  height: 80%;
  width: auto;
  vertical-align: top;
  padding-left: 2%;
}

.user_rightside > div{
  margin: 2% 0% 2% 0%;
}

.article_container{
  background-color: white;
  color: black;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
  height: auto;
  font-size: 21px;
}


.article_title{
  padding: 3% 0% 1% 0%;
  font-weight: bolder;
  font-size: 32pt;
}

.article_subheading{
  font-weight: bold;
  padding: 0.5% 0% 0.5% 0%;
}

.article_para{
  padding-bottom: 2%;
  font-weight: 400;
  line-height: 1.6;
}



.share_bar{
  position: fixed;
  width: 5%;
  /*background-color: rgb(216, 179, 236);*/
  color: black;
  top: 20%;
  left: 10%;
  text-align: center;
  font-size: 16pt;
  margin-top: 2%;

}

.share_bar > div{
  padding: 5% 0% 5% 0%;
}

footer{
  background-color: white;
  position: fixed;
  padding-left: 20%;
  padding-right: 20%;
  bottom: 0;
  width: 60%;
  height: 5%;
  color: green;
  overflow-y: hidden;
  border-top: 0.1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  font-size: 21pt;
}

#footer_left{
  position: relative;
  top: 20%;
  float: left;
}

#footer_right{
  float: right;
  position: relative;
  top: 20%;

}

.footer_next_link{
  float: right;
  position: relative;
  top: 20%;
  left: 20%;
  font-size: 10pt;
}

.footer_social_media{
  display: inline-block;
  height: 100%;
}

.footer_next_link{
  display: inline-block;
  color: black;
}

.footer_icon_slot{
  height: 100%;
}


.user_details_end {
  width: 60%;
  background-color: pink;
}


.bottom_of_page{
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
  height: 500px;
}



.other_articles_bar{

}


.overlay_login{
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: none;
}
