html, body{
  height: 100%;
  width: 100%;
  background-color: rgb(61, 21, 175);
  margin: 0;
}


#auth_container{
  position: fixed;
  background-color: rgb(555, 99, 4);
  color: white;
  top: 5%;
  right: 13%;
  padding: 2% 5% 2% 5%;
}

.auth_id{
  display: inline-block;
  height: 100%;
}
.auth_notifications{
  display: inline-block;
  height: 100%;
  background-color: red;

}
.auth_sources{
  display: inline-block;
}
.auth_count{
  display: inline-block;
}


#progress_slider{
  position: fixed;
  bottom: 0;
  background-color: pink;
  width: 100%;
  height: 2%;
}

.primary_container{
  position: relative;
  height: 65%;
  width: 80%;
  top: 15%;
  background-color: lavender;
  padding: 5% 10% 5% 10%;

  overflow: hidden;
}

#left_arrow{
  position: absolute;
  top: 50%;
  background-color: black;
  left: 5%;
}

#right_arrow{
  position: absolute;
  top: 50%;
  background-color: black;
  right: 5%;
}

.current_view{
  width: 100%;
  background-color: green;
  height: 100%;
  padding-bottom: 2%;
  overflow: hidden;
}

.inactive_view{
  display: none;
}


.box{
  display: inline-block;
  position: relative;
  width: 10%;
  padding-bottom: 10%;
  background-color: red;
  overflow: hidden;
  margin: 0.25% 0.25% 0.25% 0.25%;
}



.box_content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20% 20% 20% 20%;

  background-color: blue;
  color: white;
}

.box_content > .close{
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bolder;


}

.box_content:hover{

}
